#sass {
  color: #ce679a;
}

#react {
  color: #61dafb;
}

#netlify {
  color: #37b0bb;
}

#i1 {
  background-color: #f1c53e;
}

#i2 {
  background-color: #8f4250;
}

#i3 {
  background-color: #2c2d32;
}

#i4 {
  background-color: #55565a;
}
