.hamburger {
  display: none;
  width: 45px;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 99;

  & .bar,
  &::after,
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin: 6px 0px;
    transition: 0.4s;
    background-color: black;
    border-radius: 50px;
  }

  &.active::before {
    transform: rotate(-45deg) translate(-6.4px, 6.4px);
  }

  &.active::after {
    transform: rotate(45deg) translate(-6.4px, -6.4px);
  }

  &.active .bar {
    opacity: 0;
  }
}

@media screen and (max-width: 1024px) {
  .hamburger {
    display: block;
  }
}
